@page "/PagePasswordPattern"


<h3 style="color:darkred">This is blazor password pattern</h3>
<br />

<h5>You can click or type numbers.</h5>
<br />

<div>
    <CompBlazorPassword @ref="CompBlazorPassword1" CompWidth="360" CompHeight="360"></CompBlazorPassword>

    <br />
    <br />

    <button class="btn btn-primary" @onclick="@Reset">Reset</button>
</div>