@page "/LoanCalculatorPage"


@addTagHelper *, BlazorLoanCalculatorComponent
@using BlazorLoanCalculatorComponent;


<h3 style="color:darkred">This is Loan Calculator</h3>
<br />

<h5>It is calculating montly payment and schedule.</h5>


<br />

<CompLoanCalculator></CompLoanCalculator>