@page "/PerformanceChartPage"

@using Microsoft.AspNetCore.Components.Services
@inject IUriHelper uriHelper


<br />
<h3>Redirecting</h3>
<br />



@functions
{
protected override void OnInit()
{


    uriHelper.NavigateTo("https://lupblazorperfchart.z20.web.core.windows.net/");
    base.OnInit();
}
}