@page "/SpreadsheetPage"



@addTagHelper *, BlazorSpreadsheetComponent
@using BlazorSpreadsheetComponent;


<h3 style="color:darkred">This is Blazor Spreadsheet</h3>
<br />
<br />

<CompBlazorSpreadsheet></CompBlazorSpreadsheet>
