@page "/TreeViewPage"
@addTagHelper *, BlazorTreeVisualizerComponent
@using BlazorTreeVisualizerComponent;


<h3 style="color:darkred">This is Tree View</h3>
<br />

<h5>Under Construction</h5>




<br />


<h3>Tree View</h3>



<CompBlazorTreeVisualizer TreeVizualizationItemCode="0"></CompBlazorTreeVisualizer>