@page "/DonationPage"

<h1>Why donate?</h1>

<br />


<p>Hello, my name is <b>Vakhtangi Abashidze</b>.</p>

<p>I am blazor developer from it's eary days, trying to contribute to blazor's future and help blazor's ecosystem/community to grow.</p>

<p>I'm a @(DateTime.Now.Year-1987) years old programmer with @(DateTime.Now.Year-2009) years of experience, knowing c# good and English not bad.</p>
<p>July 2017 I moved from Georgia (Caucasus) to USA, currently live in Jersey City, NJ.</p>

<p>I am activelly looking for junior .net developer position.</p>

<p>If you like my samples, repos, nuget packages, activity in general and you think that I can bring small benefit, then please sponsor my next couple of blazor hours.</p>


<p>I promise to do my best for delivering interesting/useful libraries, samples, components, apps, video tutorials, articles and etc.</p>

<br />

<br />

<a href="https://www.paypal.me/VakhtangiAbashidze/10" target="_blank" >Donate now via PayPal</a>

<br />
<br />

<a href="mailto:VakhtangiAbashidze@gmail.com" target="_blank" class="ml-md-auto">VakhtangiAbashidze@gmail.com</a>
<br />
<br />
<h3>Thank you all who donated already!</h3>