@page "/PerformanceChartPage"

@inject NavigationManager navigationManager


<br />
<h3>Redirecting</h3>
<br />



@code
{
    protected override void OnInitialized()
    {


        navigationManager.NavigateTo("https://lupblazorperfchart.z20.web.core.windows.net/");
        base.OnInitialized();
    }
}