<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor clock component</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Clock SVG
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ClockCanvas">
                <span class="oi oi-plus" aria-hidden="true"></span> Clock Canvas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ChessPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Game Chess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GameSnakePage">
                <span class="oi oi-plus" aria-hidden="true"></span> Game Snake
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PaintPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Paint
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DoughnutChartpage">
                <span class="oi oi-plus" aria-hidden="true"></span> Doughnut Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CalculatorPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Calculator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LoanCalculatorPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Loan Calculator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PasswordPatternPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Password Pattern
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TreeViewPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Tree View
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RawHTML">
                <span class="oi oi-plus" aria-hidden="true"></span> Raw HTML
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DonationPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Donation
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="Counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Updates history
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todo list
            </NavLink>
        </li>*@
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
