<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor demos</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-plus" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorclocksvg.z20.web.core.windows.net/" Match=NavLinkMatch.All>
                <span class="oi oi-plus" aria-hidden="true"></span> Clock SVG
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorclockcanvas.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Clock Canvas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorchess.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Game Chess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorsnake.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Game Snake
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorpaint.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Paint
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazordoughnutchart.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Doughnut Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorcalculator.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Calculator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorloancalculator.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Loan Calculator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorspreadsheet.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Spreadsheet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorpasswordpattern.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Password Pattern
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazortreevisualizer.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Tree View
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WebSocketPage">
                <span class="oi oi-plus" aria-hidden="true"></span> WebSocket sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DedicatedWebWorkerPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dedicated Web Worker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SharedWebWorkerPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shared Web Worker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SWWPage2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shared Web Worker 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SwwWsPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SWW + Web Socket
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorperfchart.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Performance Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorvirtuiallist.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Virtualized List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://lupblazorrawhtml.z20.web.core.windows.net/">
                <span class="oi oi-plus" aria-hidden="true"></span> Raw HTML
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DonationPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Donation
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
